
<form name="calculator" style="display: grid;">
         <table>
            <tr>
               <td colspan="4">
                  <input type="text" name="display" id="display" disabled>
               </td>
            </tr>
            <tr>
               <td><input type="button" id="bcipher1" name="one" value="1"></td>
               <td><input type="button" id="bcipher2" name="two" value="2"></td>
               <td><input type="button" id="bcipher3" name="three" value="3"></td>
               <td><input type="button" id="operator0" class="operator" name="plus" value="+"></td>
            </tr>
            <tr>
               <td><input type="button" id="bcipher4" name="four" value="4" ></td>
               <td><input type="button" id="bcipher5" name="five" value="5" ></td>
               <td><input type="button" id="bcipher6" name="six" value="6" ></td>
               <td><input type="button" id="operator1" class="operator" name="minus" value="-"></td>
            </tr>
            <tr>
               <td><input type="button" id="bcipher7" name="seven" value="7" ></td>
               <td><input type="button" id="bcipher8" name="eight" value="8" ></td>
               <td><input type="button" id="bcipher9" name="nine" value="9" ></td>
               <td><input type="button" id="operator2" name="times" value="x"></td>
            </tr>
            <tr>
               <td><input type="button" id="clear" name="clear" value="c" onclick="calculator.display.value=''"></td>
               <td><input type="button" id="bcipher0" name="zero" value="0" ></td>
               <td><input type="button" id="calculator_send" name="doit" value="=" ></td>
               <td><input type="button" id="operator3" name="div" value="/" ></td>
            </tr>
         </table>
      </form>
